body{
padding: 0;
margin: 0;

}
.row{
  margin: 0;
  padding: 0;
}

.navbarCaja{
    margin-top:26px;
}

.navbarItem{
    list-style: none;
font-size:20px ;
margin-top: 20px;
}

.navbarLink{
    text-decoration: none;
    color: black;
    font-weight:500
}

.navbarLink:hover{
    color: brown;
    border-left: 6px solid red;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 10px;     
    transition: .5s;
    animation: ease;
}


@media screen and (max-width:950px){

    .navbarUl{
        display: flex;

    }

    .navbarItem{
        margin-left:20px ;
    }
    
  }

