<main>
  <section>
    <div class="row">
      <div class="col-lg-3 iconos  ">
        <div class="uso ">
          <div class="caja1">

          </div>

        </div>
      </div>
      <div class="col-lg-3 iconos ">
        <div class="uso">
            <div class="caja2">

            </div>

        </div>
      </div>
      <div class="col-lg-3 iconos ">
        <div class="uso">
            <div class="caja3" >
              

            </div>
        </div>
      </div>
      <div class="col-lg-3 informacionProgrammer">

        <div class="row">
            <h5>Programmers</h5>
            <div class="col-lg-12">
                <div class="cajaPrincipal" >

                <div class="cajaLogo">
                    <img class="logo" src="assets/fitnees/iconUser.png" alt="">
                </div>

                <div class="cajaInformacion">
                <a  class="informacion" href=""> <span class="fw-bold" >Tracy Silverio</span> <br>Creador de proyecto</a>

                </div>
            </div>

            </div>
        </div>
      </div>
    </div>

    <!-- segunda fila -->
    <div class="row my-5">
        <div  class="col-lg-9" >
          <!-- titulo de la presentacion -->
          <h4 class="text-center" >About us? </h4>
          <div class="row">
            <div class="col-lg-6" >
              <h4 class="text-center mt-5" >
                I'm a tracy, a programming apprentice focused on software development.
              </h4>

            </div>
              <!-- dividir contenido de pressentacion -->
            <div class="col-lg-6 d-flex justify-content-center " >
              <div class="presentancion1" >
                <div>

                <img src="assets/fitnees/iconUser.png" alt="">
              </div>


              </div>

            </div>

          </div>

        </div>

        <div class="col-lg-3">
            <div class="row">
                <h5>Social networks</h5>
                <div class="col-lg-12 mt-1">
                    <div class="cajaRedes" >
                        <a  class="informacionRedes fw-bold "  href=""><img class="logoRedes"  src="assets/fitnees/ig.png"  alt=""> <span class="text-primary"> TRC_SILVERIO</span> </a>
                 </div>
                 
                </div>
                

                <div class="col-lg-12 mt-2">
                    <div class="cajaRedes" >
                        <a  class="informacionRedes fw-bold "  href=""><img class="logoRedes"  src="assets/fitnees/facebook.png"  alt=""> <span class="text-primary"> TRC_SILVERIO</span> </a>
                 </div>
                 
                </div>

                <div class="col-lg-12 mt-2">
                    <div class="cajaRedes" >
                        <a  class="informacionRedes fw-bold "  href=""><img class="logoRedes"  src="assets/fitnees/git.jpg"  alt=""> <span class="text-primary"> TRC_SILVERIO</span> </a>
                 </div>
                 
                </div>
                


            </div>
        </div>
      </div>
  </section>
</main>




<!-- <footer class="footer">
  <ul>
    <li class="footerItem">
      <a class="footerLink" href=""> Programdor: Tracy silverio</a>
    </li>
    <li class="footerItem">
      <a class="footerLink" href=""> Empresa: RacvyCode</a>
    </li>
    <li class="footerItem">
      <a class="footerLink" href=""> Redes:@trc_Silverio </a>
    </li>
  </ul>
</footer> -->
